html {

    text-align: center;
    font-family: monospace;
}
    
    
#calc {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background-color: azure;
}

.container {
    background-color: black;
    border: 10px solid black;
    gap: 2px;
}
.row {
    display: flex;
    height: 15vh;
    width: 50vw;
}

button {
    flex: 1;
    border-radius: 5%;
    border: none;
    margin: 2px;
    font-size: 2em;
}

#zero {
    flex: 2;
}

#display {
    background-color: bisque;
    font-size: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
    margin: 5px;
}

.numbers {
    background-color: #217C7E;
}

.numbers:active {
    background-color: #33b9bb;
}